<section class="section reveal">
  <h2>Contact</h2>

  <p class="small">
    Here you can get in touch with me and my work✨
  </p>

  <div class="grid stagger" style="margin-top:14px">
    <div class="card hover-lift">
      <h3>Email</h3>
      <p class="small">muehlbauer-lena@web.de</p>
    </div>

    <div class="card hover-lift">
      <h3>GitHub</h3>
      <p class="small">
        <a class="btn" href="https://github.com/lenamuehl" target="_blank" rel="noopener">
          github.com/lenamuehl
        </a>
      </p>
    </div>

    <!--TODO: add linkedIN
    <div class="card hover-lift">
      <h3>LinkedIn</h3>
      <p class="small">
        <a class="btn" href="#" target="_blank" rel="noopener">
          Add LinkedIn →
        </a>
      </p>
    </div>
    -->
  </div>
</section>
