<header>
  <div class="container nav">
    <a class="brand" data-href="index.html" aria-label="Go to home">
      <span class="brand-badge" aria-hidden="true"></span>
      <span>Lena Mühlbauer</span>
    </a>

    <nav aria-label="Primary">
      <ul>
        <li><a data-href="../index.html" data-page="index.html">Home</a></li>
        <li><a data-href="../pages/about.html" data-page="../pages/about.html">About</a></li>
        <li><a data-href="../pages/projects.html" data-page="../pages/projects.html">Projects</a></li>
        <li><a data-href="../pages/contact.html" data-page="pages/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
