<section class="hero reveal">
  <div>
    <h1>
      Hi, ich bin Lena!
    </h1>

    <p class="subtitle">
      Ich baue gerne Webseiten oder Apps mit Liebe fürs Detail – clean, verständlich, modern, aber auch mit persönlichkeit!
    </p>

    <!--TODO rework that-->
    <div class="pill-row stagger" style="margin-top:14px">
      <span class="pill">Pink & clean UI</span>
      <span class="pill">JavaScript</span>
      <span class="pill">Node.js</span>
      <span class="pill">PostgreSQL</span>
    </div>
  </div>

  <div class="portrait">
    <img src="assets/Me.jpeg" alt="Portrait of Lena Mühlbauer" />
  </div>
</section>
