<section class="section reveal" style="margin-top:18px">
  <h2>Overview</h2>

  <div class="grid stagger">
    <div class="card hover-lift">
      <h3>What i already did?</h3>
      <p>Frontend and backend projects and UI-Polishing</p>
      <div class="tags">
        <span class="tag">HTML, CSS, JavaScript</span>
        <span class="tag">Flutter, Dart</span>
        <span class="tag">Node.js, React</span>
        <span class="tag">PostgreSQL, MongoDB</span>
        <span class="tag">Firebase</span>
        <span class="tag">Docker</span>
        <span class="tag">Figma</span>
        <span class="tag">Affinity, Blender, Canva, ...</span>
      </div>
    </div>

    <div class="card hover-lift">
      <h3>What i do?</h3>
      <p>At the moment i am ...</p>
      <div class="tags">
        <span class="tag">...studying mediainformatics, information science and business administration</span>
        <span class="tag">...working as tutor for application-oriented and object-oriented programming</span>
        <span class="tag">...trying to learn as much as possible </span>
      </div>
    </div>

    <div class="card hover-lift">
      <h3>What i want to do?</h3>
      <p>Open for working student jobs, internships & exciting positions</p>
      <div class="tags">
        <span class="tag">Webdevelopment</span>
        <span class="tag">Appdevelopment</span>
        <span class="tag">UI</span>
        <span class="tag">Research</span>
      </div>
    </div>
  </div>
</section>
